<%= render "shared/second-header"%>

<%= form_with model: @user, class: 'registration-main', local: true do |f| %>
<div class='form-wrap'>
  <div class='form-header'>
    <h1 class='form-header-text'>
      会員情報編集
    </h1>
  </div>
  <div class="form-group">
      <%= render 'shared/error_messages', model: f.object %>
    <div class='form-text-wrap'>
      <label class="form-text">新しいニックネーム</label>
    </div>
    <%= f.text_area :nickname, class:"input-default", id:"nickname", placeholder:"例) furima太郎", maxlength:"40", autofocus: true  %>
  </div>

  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">新しいメールアドレス</label>
    </div>
    <%= f.email_field :email, class:"input-default", id:"email", placeholder:"PC・携帯どちらでも可" %>
  </div>
    <div class='login-btn'>
      <%= f.submit "編集内容を更新" ,class:"login-red-btn" %>
    </div>
    <div class='logout-btn'>
      <%= link_to '＜＜ ログアウト ＞＞', destroy_user_session_path, method: :delete,class: "logout-gray-btn"  %>
    </div>
</div>
<% end %>
<%= render "shared/second-footer"%>